.estreno{
    padding: 75px 0px;
}
 

.banner{
    background-image: url(../../assets/cinebanner.jpg);
    background-size: cover;
    background-position:center;
    background-attachment: fixed;
    height: 800px;
    width: 100%;
    padding: 190px 0px;
    &__titulo{
        h2{
            color: $white;
            font-weight: 300;            
            font-size: 64px;
            line-height: 76px;
            font-family: $poppins;
            span{
                font-weight: 600;
            }
        }
        .pregunta{
            margin-top: 50px;
            color: $white;
            h4{
                font-weight: 600;
                font-size: 18px;
                line-height: 27px;
                font-family: $poppins;
                width: 444px;
                margin-bottom: 30px;
            }
            p{
                font-family: $poppins;
                font-weight: 300;
                font-size: 18px;
                line-height: 27px;
            }
        }
    }
} 