.estreno{
    padding: 75px 0px;
    &__item{
        width: 100%;
        height: 423px;
        position: relative;
        transition: all 2s;
        &:hover &__hover{
            opacity: 1;
        }
        &__foto{
            width: 100%;
            height: 100%;
            background-position: center;
            background-size: cover;
        }
        &__hover{
            position:absolute;
            width: 100%;
            transition: all 0.5s;
            height: 100%;
            background-color: #0b366581;
            top: 0;
            opacity: 0;
            text-align: center;
            &__caja{
                position:absolute;
                top: 0;
                bottom: 0;
                margin:auto;
                left: 0;
                right: 0;
                height:300px;
                h3{
                    color: $white;
                }
            }
        }
    }
}
 

.banner{
    background-image: url(../../assets/cinebanner.jpg);
    background-size: cover;
    background-position:center;
    background-attachment: fixed;
    height: 800px;
    width: 100%;
    padding: 190px 0px;
    position: relative;
    &:before{
        content: "";
        width: 100%;
        height: 100%;
        background-color: $azul;
        opacity: 0.3;
        top:0;
        position: absolute;
    }
    &__titulo{
        h2{
            color: $white;
            font-weight: 300;            
            font-size: 64px;
            line-height: 76px;
            font-family: $poppins;
            padding-left: 40px;
            position: relative;
            &::before{
                content: "";
                width: 3px;
                position: absolute;
                height: 84%;
                background-color: $rojo;
                top: 0;
                bottom: 0;
                left: 0;
                margin: auto;

            }
            span{
                font-weight: 600;
            }
        }
        .pregunta{
            margin-top: 50px;
            color: $white;
            h4{
                font-weight: 600;
                font-size: 18px;
                line-height: 27px;
                font-family: $poppins;
                width: 444px;
                margin-bottom: 30px;
            }
            p{
                font-family: $poppins;
                font-weight: 300;
                font-size: 18px;
                line-height: 27px;
            }
        }
    }
} 

.footer{
    background-color: $azul;
    padding: 50px 0px;
    ul{
        color: $white;
        a{
            color: $white;
        }
        li{
            color: $white;
            padding: 10px 0px;
            a{ 
                color: $white;
                font-weight: normal;
                font-size: 14px;
                line-height: 21px;
            }
        }
    }
}